/* App.css */
/* App.css */

/* Webkit-based browsers */
/* App.css */

/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 4px; /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
  background: black; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: blue; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the scrollbar thumb */
}


.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #fff;
}

.slideshow-container {
  position: relative;
  width: 100%;
 
  height: 80vh;
  margin-bottom: 20px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 400px 0px 150px 100px rgb(4, 4, 4) inset; /* Apply the box shadow */
}

.slide.active {
  opacity: 1;
}

.slide-content {
  position: absolute;
  bottom: 3%;
  text-align: center;
  padding: 20px;
  
}

.slide-info {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}
.cards-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  height: 350px;
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s, transform 1s;
}

.card:hover .card-content {
  opacity: 1;
  transform: translateY(0);
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
}
/* Footer.css */

.footer {
  background-color: #333; /* Background color of the footer */
  color: white; /* Text color */
  padding: 20px 0; /* Padding inside the footer */
  background-image: url('https://s4.anilist.co/file/anilistcdn/media/anime/banner/156822-y0wPQIl3AHDA.jpg'); /* Background image */
  background-size: cover; /* Cover the entire area of the footer */
  background-position: center; /* Center the background image */
}

.footer__inner {
  max-width: 1200px; /* Maximum width of the content inside the footer */
  margin: 0 auto; /* Center align the content */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer__social {
  list-style-type: none; /* Remove bullet points from the list */
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}

.footer__social li {
  display: inline-block;
}

.footer__social li a {
  color: white; /* Color of social media icons */
}

.footer__message {
  margin-top: 10px; /* Spacing between the social icons and the message */
}
